$card-width: 150px;
$card-height: $card-width * 1.5;

.simultaneous-cards.sheet {
  .participants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
  }

  .participant {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    width: $card-width;
  }

  .participant-name {
    text-align: center;
  }

  .participant-avatar {
    width: $card-width * .5;
    height: $card-width * .5;
    border: none;
  }

  .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: $card-height;
    border-radius: 10px;

    &.nocard {
      background-color: var(--color-border-dark-secondary);
      border: 2px solid var(--color-border-dark-primary);
    }

    span {
      font-size: var(--font-size-48);
      &.active {
        color: var(--color-text-light-3);
      }
      &.inactive { 
        color: var(--color-border-dark-tertiary);
      }
    }

    &.clickable {
      cursor: pointer;
    }

    &.clickable:hover {
      border-color: var(--color-text-hyperlink);
      img {
        box-shadow: 0 0 12px 4px var(--color-text-hyperlink);
      }
      span {
        color: var(--color-text-hyperlink);
      }
    }
  }

  .messages {
    color: #fff;
    background-color: var(--color-border-dark-secondary);
    border: 1px solid var(--color-border-dark-primary);
    border-radius: 4px;
    padding: 8px;
  }

  .messages,
  .sheet-footer {
    margin-top: 12px;
  }

  .dialog-button.disabled i {
    display: none;
  }
}

.simultaneous-cards.card-chooser {
  ul.cards-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 4px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li.card {
    max-width: $card-width;
    max-height: $card-height;
    min-height: $card-height;
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
  }

  img {
    width: $card-width;
    transition: all 0.2s ease-out;

    &:hover {
      transform: translateY(4px) scale(1.2);
    }
  }

  // Hides Radio
  input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.simultaneous-cards.participants-config {
  .participants {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
  }

  .participant-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    border-radius: 4px;

    &:hover {
      color: var(--color-text-hyperlink);
      background-color: var(--color-text-dark-6);
    }
  }

  .avatar {
    width: 36px;
    height: 36px;
    border: none;
  }
}

.chat-message .card-draw {
  margin-left: 4px;
  margin-bottom: 4px;
}

.chat-message .card-draw .card-face {
  height: $card-height * 2;
  transition: all 0.2s ease-out;

  &:hover {
    box-shadow: 4px 6px 4px var(--color-shadow-dark);
    z-index: 100;
    transform:
      translateX($card-width * .3)
      translateY($card-width * .1)
      scale(2.5);
  }
}
