$card-width: 200px;

.simultaneous-cards {
  .participants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
  }

  .participant {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: $card-width;
  }

  .participant-name {
    text-align: center;
  }

  .participant-avatar {
    width: $card-width * .5;
    height: $card-width * .5;
    border: none;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: $card-width * 1.5;
    background-color: var(--color-border-dark-secondary);
    border: 2px solid var(--color-border-dark-primary);
    border-radius: 10px;

    span {
      font-size: var(--font-size-48);
      color: var(--color-border-dark-tertiary);
    }

    &.clickable:hover {
      border-color: var(--color-text-hyperlink);
      span {
        color: var(--color-text-hyperlink);
      }
    }
  }
}

.participants-config {
  .participants {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: 4px;
    margin-bottom: 12px;
  }

  .participant-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    border-radius: 4px;

    &:hover {
      color: var(--color-text-hyperlink);
      background-color: var(--color-text-dark-6);
    }
  }

  .avatar {
    width: 36px;
    height: 36px;
    border: none;
  }
}
